@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Make Up</h1>
    <p class="lead">This web application has Social logins and ASP.Net Identity.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>What is this application about?</h2>
        <p>
            This web app lets you to create brands and add their products.
        </p>
        
    </div>
</div>